PORT=numerodepuerto
FRONTEND_URL=urldelpuertodelfrontend
DATABASE_URL=urldelabasededatos
JWT_SECRET=
RESEND_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLNACK_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

